/* colors im using to use */
/* 
#1F2421
#216869
#49A078
#9CC5A1
#DCE1DE */

/* typography */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    background-color: #DCE1DE;
    color: #1F2421;
}

h1, h2, h3, h4, h5,h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 1em 0;
}

h1{
    text-align: center;
    font-size: 4rem;
    padding-top: 30px;
}
/* page header */
.name-header  {
	position: relative;

}

.name-header h1 {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 1;
	transform: translateY(-50%);
	margin: 0;
	font-size: 3rem;
	color: #DCE1DE;
	text-transform: uppercase;
	text-align: center;
}
/* image */

img{
    display: block;
    object-fit: cover;
    padding: 2rem 2rem 2rem 2rem;
	
}

/* links */

a, a:visited {
	color: #49A078;
	text-decoration: none;
    
}

a:hover, a:focus, a:active {
	text-decoration: none;
    font-style: bold;
    color: #216869;
    
}

a:focus {
	outline: 1px dotted;
}

.site-navigation ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.site-navigation li{
    padding-right: 20px;
}

/* About me */
.section-about-me h2{
    padding-top: 20px;
    text-align: center;
	padding-bottom: 20px;
}

.section-about-me p{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* projects */

.project-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    box-shadow: 0 0 1px 2px #9CC5A1;
    margin: 1rem 0;
	padding: 2rem;
}
/* footer */
.site-footer{
    text-align: center;
    font-size: 1rem;
    background-color: whitesmoke;

}
.coming-soon, .project-link{
	display: flex;
	justify-content: center;
	box-shadow: 0 0 1px 2px #9CC5A1;
	font-size: 1.5rem;
	padding: 2rem;
	flex-basis: auto;
}
/* @media (min-width: 50em) {
	.page-header h1 {
		font-size: 5rem;
	}

	.menu-toggle {
		position: absolute;
		display: none;
		
	}
	.site-navigation ul{
		background-color: transparent;
		display: flex;
		list-style-type: none;
		margin:  0;
		gap: 2rem;
		
	}

	.section-products {
		display: flex;
		flex-direction: row;
		position: sticky;
		justify-content: center;
		padding: 2rem;

	}

	.products-wrapper article {
		margin: 1rem;

	}

	.products-sidebar {
		order: -1;
	}

	.site-footer {
		display: flex;
	}

	.site-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: lightgrey;
		text-align: center;
		padding: 1rem;
	}

	address {
		justify-content: center;
		font-size: 0.8rem;
	}

} */